Checks: '-*,readability-identifier-naming,bugprone-macro-parentheses,cppcoreguidelines-pro-type-cstyle-cast,modernize-make-unique,modernize-use-auto,modernize-use-default-member-init,modernize-use-override,readability-braces-around-statements,readability-duplicate-include,readability-non-const-parameter,readability-qualified-auto,readability-static-definition-in-anonymous-namespace'
# These _may_ be useful
#,bugprone-virtual-near-miss,misc-unused-parameters,misc-include-cleaner,readability-convert-member-functions-to-static,readability-inconsistent-declaration-parameter-name,readability-simplify-boolean-expr,readability-isolate-declaration
# These do not have fixes
#,cppcoreguidelines-macro-usage,readability-magic-numbers
# These checks are (very!) bug prone:
#,misc-const-correctness
FormatStyle: none
# ExportFixes: 'clangTidyFixes.yaml'
# Current naming conventions
# If they're changed, remember to update them in doc/sphinx/latex/CodeStyle.tex
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase }
  - { key: readability-identifier-naming.ClassMemberCase,        value: camelBack }
  - { key: readability-identifier-naming.ClassMemberIgnoredRegexp, value: "^s_[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.ClassMemberPrefix,      value: 's_' } # = static members
  - { key: readability-identifier-naming.ClassConstantPrefix,    value: 's_' } # = static members
  - { key: readability-identifier-naming.ClassConstantCase,        value: camelBack }
  - { key: readability-identifier-naming.ClassConstantIgnoredRegexp, value: "^s_[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.MemberCase,             value: camelBack }
  - { key: readability-identifier-naming.MemberPrefix,           value: 'm_' }
  - { key: readability-identifier-naming.MemberIgnoredRegexp, value: "^m_[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.MethodCase,             value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,          value: camelBack }
  - { key: readability-identifier-naming.ParameterIgnoredRegexp, value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.VariableCase,           value: camelBack }
  - { key: readability-identifier-naming.VariableIgnoredRegexp,  value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.LocalVariableCase,      value: camelBack }
  - { key: readability-identifier-naming.LocalVariableIgnoredRegexp, value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.LocalConstantCase,      value: camelBack }
  - { key: readability-identifier-naming.LocalConstantIgnoredRegexp, value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.GlobalConstantCase,  	 value: camelBack }
  - { key: readability-identifier-naming.GlobalConstantIgnoredRegexp, value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase }
  - { key: readability-identifier-naming.TemplateParameterIgnoredRegexp, value: "^[a-zA-Z]{1}[xyz]?$" }
  - { key: readability-identifier-naming.ValueTemplateParameterCase,  value: camelBack }
  - { key: readability-braces-around-statements.ShortStatementLines,  value: '1' }
