# CMake Ignores
CMakeUserPresets.json

# Dot files/folders
**/.*
!.clang-format
!.clang-tidy
!.gitignore
!.gitlab-ci.yml

# Non Source Directories
**/*build*/**
*install*/**
*out*/**
runs*/**

# Operating System specific excludes
.DS_Store

# Third Party Downloaded with CMake FetchContent
third_party

# Jupyter
*.ipynb
__pycache__/

# Documentation static and temporary data
doc/doxygen/xml/**
doc/doxygen/html/**
doc/sphinx/_build/
doc/sphinx/_static/graphics*
doc/sphinx/latex/*
!doc/sphinx/latex/*.tex
!doc/sphinx/latex/*.png
!doc/sphinx/latex/*.py

# Sanitize with clang-tidy
scripts/build_dir.txt
