CMakeLists.txt.user
CMakeLists.txt.user.8105280
gempic.config
gempic.creator
gempic.creator.user
gempic.files
gempic.includes
build/**/*
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
.vscode/*
