# CMake Ignores
CMakeUserPresets.json

# IDE Specific Excludes
.vscode/
.idea/
.venv

# Non Source Directories
*build*/**
*install*/**
*out*/**
runs*/**

# Operating System specific excludes
.DS_Store

# Third Party Downloaded with CMake FetchContent
third_party

# ToDo: Can the patterns below be removed?(Seems like absolute nonsense and repo structure problems. Should not be necessary to mention in .gitignore)
gempic.config
gempic.creator
gempic.creator.user
gempic.files
gempic.includes
**/dispersion_relations/__pycache__
**/dispersion_relations/.ipynb_checkpoints
doc/doxygen/xml/**
doc/doxygen/html/**
doc/sphinx/_build/
doc/sphinx/latex/*.rst
**/Plotfiles/**/*
scripts/build_dir.txt
